
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .login .content {
    width: 345px !important;
  }
	.my_clock{
		width: 30%;
	}

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .login .content {
    width: 320px !important;
  }

  .container-fluid  {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .container-fluid  {
    margin-top: 0px;
    margin-bottom: 0px;
    /*margin-left: 10%;
    margin-right: 10%;*/
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  p {
    text-align: justify;
    width: 100%;
    width: 100;
    margin: 0 auto;
    padding-right: 8%;
  }

  .paper {

    text-align: justify;
    width: 100%;
    width: 100;
    margin: 0 auto;
    padding-right: 8%;
  }

  .moblie_font
  {
    font-size: 13.7px;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

p {
  text-align: justify;
  width: 100%;
  width: 100;
  margin: 0 auto;
  padding-right: 8%;
}

.paper {

  text-align: justify;
  width: 100%;
  width: 100;
  margin: 0 auto;
  padding-right: 8%;
}

.moblie_font
{
  font-size: 13.7px;
}

}
